{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Comentarios</title>
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
</head>

<body class="bg-gradient-Light">
  <!-- Start: Comment -->
  <div class="container bootstrap snippets bootdey">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-comment">
          <br>
          <h2 class="text-success">Comentarios de rutina para {{rutina.clasificacion}} creada por
            {{rutina.usuario.usuario}} </h2>
          <br>
          <ul class="comments">
            {%for comentario in comentarios%}
            <li class="clearfix">
              <p class="meta">fecha del comentario: {{comentario.fecha}} &emsp; &emsp; &emsp; Realizado por: <a
                  href="#">{{comentario.usuario.usuario}}</a>
              </p>
              <!-- <img src="{% static 'assets/img/userMale.jpg' %}" alt=""> -->


              <p>
                &emsp; &emsp; &emsp;{{comentario.comentario}}
              </p>

            </li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End: Comment -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
  <script src="{% static 'assets/js/script.min.js' %}"></script>
</body>

</html>