{% load static %}
<!DOCTYPE html>
<html style="background-color: #931c1c;color: rgb(193,33,33);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>main view</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        data-toggle="dropdown" aria-expanded="false" href="#"><span
                                            class="d-none d-lg-inline mr-2 text-gray-600 small">{{usuario.usuario}}
                                        </span></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                        <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation"
                                            href="/loginView/"><i
                                                class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Salir</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Rutinas por aprobar</h3>
                    </div>
                    <!-- Start: Chart -->
                    {%for rut in rutinas%}
                    <div class=" d-flex justify-content-center">
                        <div class="col-lg-12 col-xl-12">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center"
                                    style="margin: 0px;">
                                    <h6 class="text-primary font-weight-bold m-0"> Clasificación: {{rut.clasificacion}}
                                    </h6>
                                    <h6 class="text-primary font-weight-bold m-0">Dificultad: {{ rut.dificultad }} </a>
                                    </h6>
                                    <h6 class="text-primary font-weight-bold m-0">Creada por <a
                                            href="#">{{rut.usuario.usuario}}</a> </h6>
                                </div>

                                <div class="text-center rutina">
                                    {% if rut.genero == 'M' %}
                                    <p><b>Recomendado para:</b> Hombres</p>
                                    {% endif %}
                                    {% if rut.genero == 'F' %}
                                    <p><b>Recomendado para:</b> Mujeres</p>
                                    {% endif %}
                                    {% if rut.genero == 'A' %}
                                    <p><b>Recomendado para:</b> Hombres y mujeres</p>
                                    {% endif %}
                                    <p><b>Sitio recomendado:</b> {{rut.sitio}} <span class="glyphicon glyphicon-home"
                                            aria-hidden="true"></span> </p>

                                    <p style="height: 104px;"><b>Descripción:</b> {{rut.descripcion}}</p>

                                    {% csrf_token %}
                                    <div class="card-body">
                                        <div class="row">

                                            <div class="col-auto mr-auto">
                                                <form action="/aprobarRutina/" method="post">
                                                    <input type="hidden" name="usuario" value="{{usuario.usuario}}">
                                                    <input type="hidden" name="rutineId" value="{{rut.id}}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-primary">Aprobar ruina</button>
                                                </form>
                                            </div>
                                            <div class="col-auto mr-auto">
                                                <form action="/noAprobarRutina/" method="post">
                                                    <input type="hidden" name="usuario" value="{{usuario.usuario}}">
                                                    <input type="hidden" name="rutineId" value="{{rut.id}}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger"> Desaprobar rutina </button>
                                                </form>
                                            </div>


                                            <div class="col-auto">
                                                <form method="POST" action="/verEjerciciosExperto/">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="user" value="{{usuario.usuario}}">
                                                    <input type="hidden" name="rutineId" value="{{rut.id}}">
                                                    <button type="submit" class="btn btn-success">Ver</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- End: Chart -->
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>GymManagement</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static 'assets/js/script.min.js' %}"></script>

</body>



</html>